body {
  background-color: cadetblue;
}

#PB {
  border: 3px solid rgb(52, 97, 165);
}

#Jelly {
  border: 5px dotted purple;
}

.Special {
  background-color: coral;
  border: dotted crimson;
  /* display: inline-block; */
}

td.Special,
li:first-child {
  background-color: cornflowerblue;
  display: inline-block;
}
